Data observations occurring over different points in time, whether *fixed frequency* or *irregular*.

#### Entities useful to think about concerning time series

Timestamps - specific instants intime

Periods - i.e. the month of January or the year 2016

Intervals - spans of time marked by a starting and ending timestamp, not neatly bookmarked like a period, which are special cases of intervals.

Experiment or Elapsed time - time relative to an arbitrarily chosen starting timestamp.

### Standard Python Date and Time Data Types

Python has date and time functionality in its `datetime`, `time`, and `calendar` modules.

The most basic type is the `datetime` type from the `datetime` module, which can store a date/time down to the microsecond

In [1]:
from datetime import datetime

#### the `datetime` type - a timestamp

The `now()` method returns current time and will also take a time zone argument

In [10]:
now = datetime.now()

In [11]:
now

datetime.datetime(2017, 11, 12, 6, 46, 32, 931718)

In [14]:
type(now)

datetime.datetime

The today() method also returns the current time but does not take any arguments.

In [16]:
today = datetime.today()

In [17]:
today

datetime.datetime(2017, 11, 12, 6, 51, 34, 677086)

In [15]:
type(today)

datetime.datetime

Both give precision down to the microsecond.  
0.001 = 1 millisecond = one onethousandth of a second  
0.000001 = 1 microsecond = one onemillionth of a second  
0.0000000001 = 1 nanosecond = one onebilliong of a second

#### the `date` type - less precision than the `datetime` type

In [18]:
my_time = datetime.now()

`.date()` returns a `date` object without a time.  
Requires a `datetime` object, not integer arguments.

Two ways to do it:

In [35]:
my_time.date()

datetime.date(2017, 11, 12)

In [36]:
datetime.date(my_time)

datetime.date(2017, 11, 12)

In [30]:
type(my_date)

datetime.date

#### Extracting pieces of a `datetime` object

In [46]:
my_time = datetime.now()
my_time

datetime.datetime(2017, 11, 12, 7, 16, 48, 466682)

`.year`, `.month`, `.day`, `.hour`, `.minute`, `.second`, `.microsecond`  
`.weekday()` returns the day of the week on a Mon=0, ..., Sun=6 scale

In [62]:
my_time.month

11

In [61]:
my_time.microsecond

466682

In [64]:
my_time.weekday()

6

#### use `datetime()` to manually create a datetime object

In [77]:
new_time = datetime(2017,10,31, 23,45,23, 234456)

In [74]:
new_time

datetime.datetime(2017, 10, 31, 23, 45, 23, 234456)

#### the `timedelta` type - an Interval - the difference in time between two timestamps

When a `datetime` object is subtracted from another, a `timedelta` object results.

In [79]:
diff = my_time - new_time
diff

datetime.timedelta(11, 27085, 232226)

the difference is expressed in days, seconds, microseconds

In [80]:
type(diff)

datetime.timedelta

Can also have `timedelta` expressed only in seconds with `.total_seconds`

In [83]:
diff.total_seconds()

977485.232226

Can also extract pieces from a `timedelta` object.  
`.days`, `.seconds`, `.microseconds`

In [89]:
diff.days

11

Cannot subtract a `date` object from a `datetime` object or vice versa.

In [103]:
my_time - my_date

TypeError: unsupported operand type(s) for -: 'datetime.datetime' and 'datetime.date'

But can subtract one `date` object from another, resulting in a `timedelta` object of days.

In [101]:
new_date = new_time.date()  # make a new date object
new_date

datetime.date(2017, 10, 31)

In [102]:
my_date - new_date  # difference results in timedelta object

datetime.timedelta(12)

#### Manually create intervals with the `timedelta()` method.

In [106]:
from datetime import timedelta

In [111]:
my_interval = timedelta(12, 100)
my_interval

datetime.timedelta(12, 100)

In [109]:
start = datetime(2017,7,1)

In [107]:
start + timedelta(12)

datetime.datetime(2017, 7, 13, 0, 0)