### Time Series - Data observations occurring over different points in time, whether *fixed frequency* or *irregular*.

#### Entities useful to think about concerning time series

Timestamps - specific instants in time

Intervals - spans of time marked by a starting and ending timestamp

Periods - special cases of Intervals, neatly bookmarked, like the month of January, the 1st Quarter, or the year 2016

Experiment or Elapsed time - time relative to an arbitrarily chosen $t_0$ starting timestamp.

### Standard Python Date and Time Data Types

Python has date and time functionality in its `datetime`, `time`, and `calendar` modules.

The most basic type is the `datetime` type from the `datetime` module, which can store a date and time down to the microsecond

In [2]:
from datetime import datetime

#### the `datetime` type - a timestamp

The `now()` method returns current time and will also take a time zone argument

In [3]:
now = datetime.now()
now

datetime.datetime(2017, 11, 12, 11, 7, 30, 155385)

In [4]:
type(now)

datetime.datetime

The `today()` method also returns the current time but does not take any arguments.

In [5]:
today = datetime.today()
today

datetime.datetime(2017, 11, 12, 11, 8, 2, 482550)

In [6]:
type(today)

datetime.datetime

Both give precision down to the microsecond.  
0.001 = 1 millisecond = one onethousandth of a second  
0.000001 = 1 microsecond = one onemillionth of a second  
0.0000000001 = 1 nanosecond = one onebilliong of a second

#### the `date` type - less precision than the `datetime` type

In [9]:
my_time = datetime.now()

`.date()` returns a `date` object without a time.  
Requires a `datetime` object, not integer arguments.

Two ways to do it:

In [11]:
my_time.date()

datetime.date(2017, 11, 12)

In [36]:
datetime.date(my_time)

datetime.date(2017, 11, 12)

In [14]:
my_date = my_time.date()
type(my_date)

datetime.date

#### Extracting pieces of a `datetime` object

In [46]:
my_time = datetime.now()
my_time

datetime.datetime(2017, 11, 12, 7, 16, 48, 466682)

`.year`, `.month`, `.day`, `.hour`, `.minute`, `.second`, `.microsecond`  
`.weekday()` returns the day of the week on a Mon=0, ..., Sun=6 scale

In [62]:
my_time.month

11

In [61]:
my_time.microsecond

466682

In [64]:
my_time.weekday()

6

#### use `datetime()` to manually create a datetime object

In [7]:
new_time = datetime(2017,10,31, 23,45,23, 234456)
new_time

datetime.datetime(2017, 10, 31, 23, 45, 23, 234456)

#### the `timedelta` type - an Interval - the difference in time between two timestamps

When a `datetime` object is subtracted from another, a `timedelta` object results.

In [79]:
diff = my_time - new_time
diff

datetime.timedelta(11, 27085, 232226)

the difference is expressed in days, seconds, microseconds

In [80]:
type(diff)

datetime.timedelta

Can also have `timedelta` expressed only in seconds with `.total_seconds()`

In [83]:
diff.total_seconds()

977485.232226

Can also extract pieces from a `timedelta` object.  
`.days`, `.seconds`, `.microseconds`

In [89]:
diff.days

11

Cannot subtract a `date` object from a `datetime` object or vice versa.

In [103]:
my_time - my_date

TypeError: unsupported operand type(s) for -: 'datetime.datetime' and 'datetime.date'

But can subtract one `date` object from another, resulting in a `timedelta` object of days.

In [16]:
new_date = new_time.date()  # make a new date object
new_date

datetime.date(2017, 10, 31)

In [21]:
test = my_date - new_date  # difference results in timedelta object
test.resolution

datetime.timedelta(0, 0, 1)

#### Manually create intervals with the `timedelta()` method.

In [23]:
from datetime import timedelta

In [29]:
my_interval = timedelta(20, 5 * 3600 + 37 * 60 + 22)  # 12 days 5hrs 37 min 22 seconds
my_interval

datetime.timedelta(20, 20242)

#### Shift time with `timedelta()`

`timedelta` objects can be added or subtracted from `datetime` or `date` objects, resulting in the same type shifted forward or backward in time.

In [26]:
start = datetime(2017,7,1)

In [37]:
start - timedelta(12)

datetime.datetime(2017, 6, 19, 0, 0)

In [30]:
start + my_interval

datetime.datetime(2017, 7, 21, 5, 37, 22)

In [35]:
type(my_date)  # try a timedelta with a date type

datetime.date

In [39]:
my_date  # reminder

datetime.date(2017, 11, 12)

In [38]:
my_date + timedelta(3, 100, 657)  # results in a date type, seconds and microseconds are lost in the process

datetime.date(2017, 11, 15)

Can work with multiples of timedeltas as well.

In [40]:
four_weeks_hence = datetime.now() + 4 * timedelta(7)
four_weeks_hence

datetime.datetime(2017, 12, 10, 11, 51, 20, 216229)

## Datetimes and strings

### Converting datetimes to string

In [42]:
stamp = datetime(2017, 11, 12, 14, 37, 33)
str(stamp)

'2017-11-12 14:37:33'

Convenient function but maybe not the desired format or more than you want.  
For a little control, use `strftime()`, mnemonic "string format time".  
It takes a `datetime` and a formatting string argument.

In [47]:
datetime.strftime(stamp, '%m-%d-%y')

'11-12-17'

Can achieve many different results using the formatting codes.

In [49]:
datetime.strftime(stamp, '%A, the %dth of %B, %Y')

'Sunday, the 12th of November, 2017'

See full formatting codes at Python docs https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

## Converting strings to datetimes

Very often you will encounter a date represented as a string and need to convert it to `datetime` in order to perform calculations.

### `strptime()`

`strftime()` sister function, `strptime()` takes a string date and a formatting string indicating the positions of the date components in the string date and returns a `datetime` object.

In [50]:
datetime.strptime('3/14/17', '%m/%d/%y')

datetime.datetime(2017, 3, 14, 0, 0)

In [51]:
datetime.strptime('Dec-12-2017', '%b-%d-%Y')

datetime.datetime(2017, 12, 12, 0, 0)

This works well, but you may get weary of always having to supply the formatting string.

### `parse()`

The `dateutil` package contains a powerful function, `parser.parse()` which will parse most date strings into a `datetime`.

In [52]:
from dateutil.parser import parse
parse('2017-3-7')

datetime.datetime(2017, 3, 7, 0, 0)

In [53]:
parse('4/5/17')

datetime.datetime(2017, 4, 5, 0, 0)

In [55]:
parse('June 6th, 1984, 10:45 PM')

datetime.datetime(1984, 6, 6, 22, 45)

When you know you're dealing with International date formats that list the day before the month, `parse()` takes an argument `dayfirst=True`

In [60]:
parse('4-5-17', dayfirst=True )  # May 4th

datetime.datetime(2017, 5, 4, 0, 0)

However, `parse()` is not built to handle arrays of dates.  You'd have to use list comprehension to work with arrays.

In [62]:
[parse(x) for x in ['7-21-17', '7-22-17', '7-23-17']]

[datetime.datetime(2017, 7, 21, 0, 0),
 datetime.datetime(2017, 7, 22, 0, 0),
 datetime.datetime(2017, 7, 23, 0, 0)]

### Pandas `.to_datetime()`

`pd.to_datetime()` **is** built to handle arrays of dates and parses as well as `parse()`

In [75]:
import pandas as pd
datestrs = ['7/6/2017', '8-9-17', '12-Feb-17']
pd.to_datetime(datestrs)

DatetimeIndex(['2017-07-06', '2017-08-09', '2017-02-12'], dtype='datetime64[ns]', freq=None)

When `pd.to_datetime()` parses multiple date strings, the result is a Pandas DatetimeIndex.

In [70]:
pd.to_datetime('7/6/2017')

Timestamp('2017-07-06 00:00:00')

But when `pd.to_datetime()` parses a single date string, the result is a Pandas Timestamp.

## Time Series Basics

The most basic kind of time series object in Pandas is, generically, a Series of data indexed by timestamps.  
The timestamps may arise from Python strings or `datetime` objects.

In [77]:
import pandas as pd
from pandas import Series
import numpy as np
from datetime import datetime

In [78]:
from datetime import datetime
dates = [datetime(2017, 1, 2), datetime(2017, 1, 5), datetime(2017, 1, 7), datetime(2017, 1, 8), datetime(2017, 1, 10), datetime(2017, 1, 12)]
ts = Series(np.random.randn(6), index=dates)

In [81]:
type(ts)

pandas.core.series.Series

Under the hood, these datetime objects have been assembled into a Pandas DatetimeIndex and the variable `ts` is of type `Series`.  
** older documentation may refer to a `TimeSeries` type but that was deprecated with Pandas 0.13

As with all Series, arithmetic operations between differently indexed time series automatically align on the dates:

In [86]:
ts

2017-01-02   -0.016099
2017-01-05   -0.481701
2017-01-07   -0.544523
2017-01-08    0.041879
2017-01-10    2.425638
2017-01-12    1.331867
dtype: float64

In [89]:
ts[::2]  # every other

2017-01-02   -0.016099
2017-01-07   -0.544523
2017-01-10    2.425638
dtype: float64

In [91]:
ts + ts[::2]  # numbers summed where indexes match, NaNs where the 2nd Series has nothing

2017-01-02   -0.032198
2017-01-05         NaN
2017-01-07   -1.089045
2017-01-08         NaN
2017-01-10    4.851275
2017-01-12         NaN
dtype: float64

Scalar values from the DatetimeIndex are of Pandas type `Timestamp`.  A `Timestamp` can be substituted anywhere you'd use a `Datetime` object.  
Additionally, it can store frequency information and understands how to do Time Zone conversions and other kinds of manipulations.

In [92]:
ts.index

DatetimeIndex(['2017-01-02', '2017-01-05', '2017-01-07', '2017-01-08',
               '2017-01-10', '2017-01-12'],
              dtype='datetime64[ns]', freq=None)

In [93]:
type(ts.index[0])

pandas._libs.tslib.Timestamp

## Indexing, Selecting, Subsetting

In [100]:
ts  # reminder

2017-01-02   -0.016099
2017-01-05   -0.481701
2017-01-07   -0.544523
2017-01-08    0.041879
2017-01-10    2.425638
2017-01-12    1.331867
dtype: float64

In [94]:
ts.index[2]

Timestamp('2017-01-07 00:00:00')

In [97]:
stamp = ts.index[2]

In [98]:
ts[stamp]

-0.54452262891792846

Can also pass a string that is interpretabe as a date:

In [103]:
ts['Jan-7-2017']

-0.54452262891792846

In [104]:
ts['20170107']

-0.54452262891792846

For longer time series, a year only or a year and month can be passed to select data:

In [105]:
longer_ts = Series(np.random.randn(1000), index=pd.date_range('1/1/2014', periods=1000))

In [106]:
longer_ts

2014-01-01    1.692824
2014-01-02   -1.705718
2014-01-03   -0.532328
2014-01-04    2.115988
2014-01-05    1.596567
2014-01-06    0.292165
2014-01-07   -1.004184
2014-01-08    0.049629
2014-01-09    0.099266
2014-01-10    1.575733
2014-01-11   -1.099936
2014-01-12   -1.669826
2014-01-13    1.204041
2014-01-14    0.446219
2014-01-15    0.065058
2014-01-16    0.646420
2014-01-17    0.146371
2014-01-18   -0.245269
2014-01-19   -0.028783
2014-01-20    0.798586
2014-01-21    0.206772
2014-01-22   -0.034102
2014-01-23    1.495556
2014-01-24   -0.215962
2014-01-25   -0.138537
2014-01-26   -0.698266
2014-01-27    0.230041
2014-01-28   -0.126283
2014-01-29    0.348292
2014-01-30   -0.430766
                ...
2016-08-28   -1.543747
2016-08-29   -2.512503
2016-08-30   -1.600380
2016-08-31    0.267971
2016-09-01   -0.936495
2016-09-02   -0.236787
2016-09-03   -0.800801
2016-09-04    1.409650
2016-09-05    0.481344
2016-09-06    0.315723
2016-09-07   -0.494233
2016-09-08   -0.367817
2016-09-09   -0.637948
2016-09-10   -0.195600
2016-09-11   -0.437851
2016-09-12    2.780198
2016-09-13   -0.721645
2016-09-14   -1.235105
2016-09-15    1.534590
2016-09-16   -1.139380
2016-09-17    1.141295
2016-09-18   -0.793042
2016-09-19   -0.722542
2016-09-20   -0.610661
2016-09-21    1.174287
2016-09-22    1.646775
2016-09-23    0.961454
2016-09-24    1.088632
2016-09-25   -1.104801
2016-09-26    1.006053
Freq: D, Length: 1000, dtype: float64

In [109]:
longer_ts['2015']

2015-01-01   -0.806299
2015-01-02   -0.984127
2015-01-03    1.312592
2015-01-04   -0.208236
2015-01-05    0.527507
2015-01-06   -1.187750
2015-01-07    0.664038
2015-01-08   -1.732253
2015-01-09    0.044732
2015-01-10   -0.083593
2015-01-11   -0.333529
2015-01-12   -1.175784
2015-01-13    2.044511
2015-01-14   -0.884450
2015-01-15    0.830444
2015-01-16    0.552819
2015-01-17    0.701704
2015-01-18    0.590406
2015-01-19   -1.573570
2015-01-20    1.186034
2015-01-21    0.458511
2015-01-22    0.789950
2015-01-23    0.099959
2015-01-24    0.177753
2015-01-25   -0.466897
2015-01-26   -0.006874
2015-01-27   -1.166163
2015-01-28    0.308226
2015-01-29   -0.060753
2015-01-30   -1.271258
                ...
2015-12-02    0.123549
2015-12-03   -2.224919
2015-12-04   -1.476111
2015-12-05   -1.141995
2015-12-06    0.905939
2015-12-07   -1.862797
2015-12-08   -0.736386
2015-12-09    0.987548
2015-12-10   -0.611803
2015-12-11    1.351011
2015-12-12   -0.032032
2015-12-13    0.793756
2015-12-14   -0.791003
2015-12-15   -0.082544
2015-12-16    0.814637
2015-12-17   -0.082228
2015-12-18    0.572567
2015-12-19    2.123052
2015-12-20    0.280455
2015-12-21   -0.479744
2015-12-22    0.208986
2015-12-23    0.047263
2015-12-24    0.458577
2015-12-25   -1.454253
2015-12-26    1.455531
2015-12-27   -0.119401
2015-12-28   -0.051275
2015-12-29    1.421683
2015-12-30   -0.453895
2015-12-31   -0.353071
Freq: D, Length: 365, dtype: float64

In [110]:
longer_ts['2016-Mar']

2016-03-01   -0.620764
2016-03-02    0.430809
2016-03-03    0.026590
2016-03-04    1.483362
2016-03-05    0.269670
2016-03-06   -1.642448
2016-03-07    1.007979
2016-03-08   -0.245018
2016-03-09    0.260717
2016-03-10   -2.679283
2016-03-11   -0.852671
2016-03-12    2.701995
2016-03-13    0.508983
2016-03-14    2.113522
2016-03-15   -1.651135
2016-03-16    0.450019
2016-03-17    0.064904
2016-03-18   -0.810728
2016-03-19   -0.789186
2016-03-20   -0.140085
2016-03-21   -0.150344
2016-03-22   -0.320505
2016-03-23   -0.546005
2016-03-24   -0.160515
2016-03-25    0.039807
2016-03-26    1.466106
2016-03-27    0.416954
2016-03-28    0.723025
2016-03-29   -0.169762
2016-03-30   -0.804909
2016-03-31    0.124550
Freq: D, dtype: float64

Slicing with dates works like slicing with a regular Series:

In [111]:
longer_ts[:'2014-Feb-15']

2014-01-01    1.692824
2014-01-02   -1.705718
2014-01-03   -0.532328
2014-01-04    2.115988
2014-01-05    1.596567
2014-01-06    0.292165
2014-01-07   -1.004184
2014-01-08    0.049629
2014-01-09    0.099266
2014-01-10    1.575733
2014-01-11   -1.099936
2014-01-12   -1.669826
2014-01-13    1.204041
2014-01-14    0.446219
2014-01-15    0.065058
2014-01-16    0.646420
2014-01-17    0.146371
2014-01-18   -0.245269
2014-01-19   -0.028783
2014-01-20    0.798586
2014-01-21    0.206772
2014-01-22   -0.034102
2014-01-23    1.495556
2014-01-24   -0.215962
2014-01-25   -0.138537
2014-01-26   -0.698266
2014-01-27    0.230041
2014-01-28   -0.126283
2014-01-29    0.348292
2014-01-30   -0.430766
2014-01-31   -0.846912
2014-02-01    1.843379
2014-02-02    0.835541
2014-02-03   -0.559270
2014-02-04   -0.798531
2014-02-05    0.603587
2014-02-06    0.910960
2014-02-07   -0.877679
2014-02-08   -1.084118
2014-02-09    1.469471
2014-02-10   -0.173643
2014-02-11    0.956230
2014-02-12    0.297522
2014-02-13   -1.171823
2014-02-14   -1.091547
2014-02-15   -0.103345
Freq: D, dtype: float64

In [115]:
longer_ts['9/15/2016':]

2016-09-15    1.534590
2016-09-16   -1.139380
2016-09-17    1.141295
2016-09-18   -0.793042
2016-09-19   -0.722542
2016-09-20   -0.610661
2016-09-21    1.174287
2016-09-22    1.646775
2016-09-23    0.961454
2016-09-24    1.088632
2016-09-25   -1.104801
2016-09-26    1.006053
Freq: D, dtype: float64

Because time series are usually ordered chronologically, you can slice using dates that aren't actually present in the index:

In [116]:
ts  # reminder

2017-01-02   -0.016099
2017-01-05   -0.481701
2017-01-07   -0.544523
2017-01-08    0.041879
2017-01-10    2.425638
2017-01-12    1.331867
dtype: float64

In [117]:
ts['1/3/2017':'1-11-17']

2017-01-05   -0.481701
2017-01-07   -0.544523
2017-01-08    0.041879
2017-01-10    2.425638
dtype: float64

Remember, slicing returns a view on the original, so modifying the slice modifies the original.

In [123]:
sl = ts['1/1/2017':'1/6/2017']

In [125]:
sl['1/2/2017'] = 3.14159

In [136]:
ts

2017-01-02    3.141590
2017-01-05   -0.481701
2017-01-07   -0.544523
2017-01-08    0.041879
2017-01-10    2.425638
2017-01-12    1.331867
dtype: float64

but adding a new entry to the slice does not add to the original

In [137]:
sl[datetime(2017,1,6)] = 2.781828

In [142]:
sl

2017-01-02 00:00:00    3.141590
2017-01-05 00:00:00   -0.481701
2017-01-06 00:00:00    2.781828
dtype: float64

Note when **adding** to a time series, whether slice or original, you must supply a proper Datetime subscript, not a string:

In [143]:
sl['1/3/2017'] = 1.11111

In [144]:
sl

2017-01-02 00:00:00    3.141590
2017-01-05 00:00:00   -0.481701
2017-01-06 00:00:00    2.781828
1/3/2017               1.111110
dtype: float64

### Slicing time series in DataFrames

The above holds true for DataFrames as well.

In [145]:
dates = pd.date_range('1/1/2014', periods=100, freq='W-WED')
dates

DatetimeIndex(['2014-01-01', '2014-01-08', '2014-01-15', '2014-01-22',
               '2014-01-29', '2014-02-05', '2014-02-12', '2014-02-19',
               '2014-02-26', '2014-03-05', '2014-03-12', '2014-03-19',
               '2014-03-26', '2014-04-02', '2014-04-09', '2014-04-16',
               '2014-04-23', '2014-04-30', '2014-05-07', '2014-05-14',
               '2014-05-21', '2014-05-28', '2014-06-04', '2014-06-11',
               '2014-06-18', '2014-06-25', '2014-07-02', '2014-07-09',
               '2014-07-16', '2014-07-23', '2014-07-30', '2014-08-06',
               '2014-08-13', '2014-08-20', '2014-08-27', '2014-09-03',
               '2014-09-10', '2014-09-17', '2014-09-24', '2014-10-01',
               '2014-10-08', '2014-10-15', '2014-10-22', '2014-10-29',
               '2014-11-05', '2014-11-12', '2014-11-19', '2014-11-26',
               '2014-12-03', '2014-12-10', '2014-12-17', '2014-12-24',
               '2014-12-31', '2015-01-07', '2015-01-14', '2015-01-21',
               '2015-01-28', '2015-02-04', '2015-02-11', '2015-02-18',
               '2015-02-25', '2015-03-04', '2015-03-11', '2015-03-18',
               '2015-03-25', '2015-04-01', '2015-04-08', '2015-04-15',
               '2015-04-22', '2015-04-29', '2015-05-06', '2015-05-13',
               '2015-05-20', '2015-05-27', '2015-06-03', '2015-06-10',
               '2015-06-17', '2015-06-24', '2015-07-01', '2015-07-08',
               '2015-07-15', '2015-07-22', '2015-07-29', '2015-08-05',
               '2015-08-12', '2015-08-19', '2015-08-26', '2015-09-02',
               '2015-09-09', '2015-09-16', '2015-09-23', '2015-09-30',
               '2015-10-07', '2015-10-14', '2015-10-21', '2015-10-28',
               '2015-11-04', '2015-11-11', '2015-11-18', '2015-11-25'],
              dtype='datetime64[ns]', freq='W-WED')

In [147]:
long_df = pd.DataFrame(np.random.randn(100,4), columns=['California', 'Texas', 'New York', 'Florida'], index=dates)

In [148]:
long_df

            California     Texas  New York   Florida
2014-01-01   -0.670055  0.887765  0.046678  2.034517
2014-01-08    0.763195 -1.009497  0.343186  0.808925
2014-01-15    0.567926 -0.649508  0.301028 -1.183059
2014-01-22    1.029831 -0.357734 -0.256060 -0.789614
2014-01-29    0.441617  0.582626  0.546245 -0.036859
2014-02-05    0.102730 -0.013300 -0.592911  1.399227
2014-02-12    0.324932 -1.371970  0.430918 -0.582621
2014-02-19   -0.614318  0.519467  1.529626  0.525963
2014-02-26    1.050643 -0.623419 -1.511494 -1.424813
2014-03-05   -0.647939  0.360815  0.194534 -0.006605
2014-03-12    1.883304 -0.163079  0.802049 -1.020359
2014-03-19   -1.328516 -1.147734 -0.206244 -1.397381
2014-03-26   -0.185800 -0.099636 -1.490901  1.088448
2014-04-02   -0.471485 -0.173192  2.538425  0.696665
2014-04-09    0.928600  0.447417  0.055320  0.472662
2014-04-16   -0.317052  0.332184  1.337782 -0.937864
2014-04-23    0.052138  0.531489 -1.407206  0.463367
2014-04-30   -0.240915 -0.173741  0.108472 -1.344533
2014-05-07    0.985908 -1.419986 -0.796431  0.328848
2014-05-14    1.779332  0.490941 -1.574628  1.000226
2014-05-21   -1.414673 -1.386760 -0.592246 -1.305204
2014-05-28   -0.895228  0.528321  0.242124 -1.078025
2014-06-04   -1.320496  0.420959  0.234490 -0.467045
2014-06-11    0.591390  0.678435 -0.192539 -1.213658
2014-06-18   -2.041073 -0.009574  0.479112 -0.528043
2014-06-25   -0.564194 -1.034689 -0.447728  0.410828
2014-07-02   -0.264198  0.317137  0.682081 -0.044991
2014-07-09    2.139378  0.999078  0.349618 -2.258242
2014-07-16   -0.706273  0.299016  0.330351 -0.652751
2014-07-23    0.620980 -0.781152 -1.044361 -0.700761
...                ...       ...       ...       ...
2015-05-06   -0.035837 -0.931344  0.313048  0.605522
2015-05-13   -0.084859  1.251015  2.058171 -0.207379
2015-05-20   -0.206285 -1.292480  0.095645 -1.584340
2015-05-27   -0.932938  0.469286  1.594331 -0.879406
2015-06-03   -1.222327  0.215345 -0.943071 -0.690301
2015-06-10   -0.930289  0.275847 -0.515775 -0.196120
2015-06-17    0.233652 -1.420764 -0.204499 -1.230919
2015-06-24   -0.075870  1.414713 -1.724532 -0.214290
2015-07-01   -1.011935  0.299693  0.625892  1.132355
2015-07-08    0.126574 -0.696162 -0.359065 -0.285593
2015-07-15   -0.055311 -0.762179  0.674745  1.917619
2015-07-22    1.260957  0.305697 -0.515664  0.153019
2015-07-29   -1.104615  0.707680  1.884046 -0.619463
2015-08-05    0.544672 -1.169498  0.596024  0.549084
2015-08-12    1.495104 -0.582083  0.694864  0.778727
2015-08-19   -1.562557  0.370357 -0.037172  0.675588
2015-08-26   -0.446703  0.731919 -1.708521  0.564574
2015-09-02    0.241940  0.163498 -1.862696  0.415779
2015-09-09   -2.296901 -0.563720  1.324903 -1.095282
2015-09-16    0.442306  1.355271 -1.124563 -0.290335
2015-09-23   -0.310402  0.132168  1.050179 -0.643694
2015-09-30   -1.246879  1.287341  0.865977 -1.364445
2015-10-07    0.723050  0.588241  1.144880  0.168754
2015-10-14   -0.357534  0.191892 -2.103178 -0.537545
2015-10-21    0.765098 -0.893700  0.149578 -1.427956
2015-10-28   -2.301114  0.175801 -1.972059 -0.042373
2015-11-04   -0.521228 -1.491611  0.238031  0.630240
2015-11-11    0.255590 -0.960154 -0.004225  1.170644
2015-11-18    0.822972  0.429818 -0.007667 -0.290294
2015-11-25    0.969651  0.337200 -0.160983 -0.858754

[100 rows x 4 columns]

In [149]:
long_df['2015']

            California     Texas  New York   Florida
2015-01-07   -0.253776 -2.051296 -0.953472 -0.308618
2015-01-14   -1.431190 -1.731018  0.970498  0.916734
2015-01-21    0.831249 -1.129123  0.114963 -0.976705
2015-01-28   -0.677658  0.303644 -0.331522  0.657884
2015-02-04    2.541704 -0.663811  1.373684  1.396331
2015-02-11   -0.867030  1.726744 -0.018520  0.996996
2015-02-18   -0.583344 -0.756376  0.154717 -0.980414
2015-02-25   -0.231362  0.566808 -0.867567 -1.128934
2015-03-04    0.021171  0.671597  0.389465  0.683615
2015-03-11    0.463642 -0.965461  1.663242  1.122066
2015-03-18    0.310114 -0.184744 -1.070936 -1.287324
2015-03-25    0.695630 -0.207325  0.118502  0.311367
2015-04-01    0.039606  1.780953 -0.085437 -1.565371
2015-04-08   -1.473733 -0.092036 -0.021474  1.309292
2015-04-15    1.081818 -0.422955 -0.312514 -0.655529
2015-04-22    0.580091 -1.823223  0.300733 -0.840942
2015-04-29    0.432680 -0.814402  0.874517  0.468417
2015-05-06   -0.035837 -0.931344  0.313048  0.605522
2015-05-13   -0.084859  1.251015  2.058171 -0.207379
2015-05-20   -0.206285 -1.292480  0.095645 -1.584340
2015-05-27   -0.932938  0.469286  1.594331 -0.879406
2015-06-03   -1.222327  0.215345 -0.943071 -0.690301
2015-06-10   -0.930289  0.275847 -0.515775 -0.196120
2015-06-17    0.233652 -1.420764 -0.204499 -1.230919
2015-06-24   -0.075870  1.414713 -1.724532 -0.214290
2015-07-01   -1.011935  0.299693  0.625892  1.132355
2015-07-08    0.126574 -0.696162 -0.359065 -0.285593
2015-07-15   -0.055311 -0.762179  0.674745  1.917619
2015-07-22    1.260957  0.305697 -0.515664  0.153019
2015-07-29   -1.104615  0.707680  1.884046 -0.619463
2015-08-05    0.544672 -1.169498  0.596024  0.549084
2015-08-12    1.495104 -0.582083  0.694864  0.778727
2015-08-19   -1.562557  0.370357 -0.037172  0.675588
2015-08-26   -0.446703  0.731919 -1.708521  0.564574
2015-09-02    0.241940  0.163498 -1.862696  0.415779
2015-09-09   -2.296901 -0.563720  1.324903 -1.095282
2015-09-16    0.442306  1.355271 -1.124563 -0.290335
2015-09-23   -0.310402  0.132168  1.050179 -0.643694
2015-09-30   -1.246879  1.287341  0.865977 -1.364445
2015-10-07    0.723050  0.588241  1.144880  0.168754
2015-10-14   -0.357534  0.191892 -2.103178 -0.537545
2015-10-21    0.765098 -0.893700  0.149578 -1.427956
2015-10-28   -2.301114  0.175801 -1.972059 -0.042373
2015-11-04   -0.521228 -1.491611  0.238031  0.630240
2015-11-11    0.255590 -0.960154 -0.004225  1.170644
2015-11-18    0.822972  0.429818 -0.007667 -0.290294
2015-11-25    0.969651  0.337200 -0.160983 -0.858754

In [150]:
long_df['Aug-2015']

            California     Texas  New York   Florida
2015-08-05    0.544672 -1.169498  0.596024  0.549084
2015-08-12    1.495104 -0.582083  0.694864  0.778727
2015-08-19   -1.562557  0.370357 -0.037172  0.675588
2015-08-26   -0.446703  0.731919 -1.708521  0.564574

In [151]:
long_df['2014-01-06':'2014-02-06']

            California     Texas  New York   Florida
2014-01-08    0.763195 -1.009497  0.343186  0.808925
2014-01-15    0.567926 -0.649508  0.301028 -1.183059
2014-01-22    1.029831 -0.357734 -0.256060 -0.789614
2014-01-29    0.441617  0.582626  0.546245 -0.036859
2014-02-05    0.102730 -0.013300 -0.592911  1.399227